<main>
  <div class="password-generator">
    <h2>Gerador de Senhas</h2>
    <form (submit)="generatePassword()">
      <div class="form-group">
        <label for="length">Quantidade de caracteres:</label>
        <input type="number" [(ngModel)]="length" name="length" (keypress)="validateInput($event)" min="1" required>
      </div>
      <div class="form-group">
        <label for="symbols">Quantidade mínima de símbolos:</label>
        <input type="number" [(ngModel)]="symbols" name="symbols" (keypress)="validateInput($event)" min="0">
      </div>
      <div class="form-group">
        <label for="uppercase">Quantidade mínima de letras maiúsculas:</label>
        <input type="number" [(ngModel)]="uppercase" name="uppercase" (keypress)="validateInput($event)" min="0">
      </div>
      <div class="form-group">
        <label for="lowercase">Quantidade mínima de letras minúsculas:</label>
        <input type="number" [(ngModel)]="lowercase" name="lowercase" (keypress)="validateInput($event)" min="0">
      </div>
      <div class="form-group">
        <label for="numbers">Quantidade mínima de números:</label>
        <input type="number" [(ngModel)]="numbers" name="numbers" (keypress)="validateInput($event)" min="0">
      </div>

      <!-- Mensagem de erro -->
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <div class="button-container">
        <button type="submit">{{ buttonText }}</button>
      </div>

      <div *ngIf="password" class="generated-password">
        <p><strong>Senha Gerada:</strong> {{ password }}</p>
      </div>
    </form>
  </div>
</main>
